<div class="container-fluid">
	<div class="row">
		<div class="col-md-2 filter">
	        <form ng-submit="submit()">
	        		<span 
	        			class="glyphicon glyphicon-search search">
	        		</span>
	                <input 
	                	placeholder="pizza, McDonalds, loop" 
	                	type="text" 
	                	ng-model="keywords" 
	                	class="search" />
	        </form>

			<div class="filter__checkbox-wrapper">
				<h3>Cuisines</h3>
				<label ng-repeat="cuisine in cuisinesFilter">
				  <input
				    type="checkbox"
				    name="selectedCuisines[]"
				    value="{{cuisine.name}}"
				    ng-model="cuisine.value"
				    ng-checked="cuisine.value"
				  > {{cuisine.name}}
				</label>
				<h3>Price Range</h3>
				<price-filter > </price-filter>

				<h3>Options</h3>
				<label ng-repeat="option in optionsFilter" >
				  <input
				    type="checkbox"
				    name="selectedOptions[]"
				    value="{{option.name}}"
				    ng-model="option.value"
				    ng-checked="option.value"
				  > {{option.name}}
				</label>
			</div>


		</div>
		<div class="col-md-10">
			<div class="filter-header center-block">
			<h1>Order for <a href="">Me</a> for <a href="">Today</a> at <a href="">2pm</a></h1>
			</div>
			<div class="filter-wrapper center-block" >
				<filter-tags 
					ng-repeat="tag in tags" 
					ng-if="tag.value" />
			</div>
			<div class="row">
				<div class="sort">
				    <label for="restaurantSort"> Sort by: </label>
				    <select 
				    	name="resaurantSort" 
				    	ng-model="restaurantSort"
				    	ng-init="restaurantSort='Default'">
				      <option value="popularity">Most Popular</option>
				      <option value="reviews">Best Reviews</option>
				      <option value="distance">Closest Distance</option>
				      <option value="price">Lowest Price</option>
				    </select>
					</span>
				</div>
				<div class="center-block" ng-if="loaded">

					<restaurant-card>
						<img src="assets/rest3.png" />
					</restaurant-card>
					<restaurant-card><img src="assets/rest1.png" /></restaurant-card>
					<restaurant-card><img src="assets/rest2.png" /></restaurant-card>
					<restaurant-card><img src="assets/rest4.png" /></restaurant-card>
					<restaurant-card><img src="assets/rest5.png" /></restaurant-card>
					<restaurant-card><img src="assets/rest6.png" /></restaurant-card>
					<restaurant-card><img src="assets/rest7.png" /></restaurant-card>
					<restaurant-card><img src="assets/rest8.png" /></restaurant-card>
					<restaurant-card><img src="assets/rest9.png" /></restaurant-card>
					<restaurant-card><img src="assets/rest10.png" /></restaurant-card>
					<restaurant-card><img src="assets/rest11.png" /></restaurant-card>
					<restaurant-card><img src="assets/rest3.png" />
					</restaurant-card>
					<restaurant-card><img src="assets/rest1.png" /></restaurant-card>
					<restaurant-card><img src="assets/rest2.png" /></restaurant-card>
					<restaurant-card><img src="assets/rest4.png" /></restaurant-card>
					<restaurant-card><img src="assets/rest5.png" /></restaurant-card>
				</div>
			</div>
			<img class="scroll center-block" src="assets/scroll.svg">
		</div>
	</div>
</div>